<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
    <listeners>
        <listener class-name="com.rjil.cloud.tej.Common.CustomListener" />
    </listeners>
    <parameter name="loginType" value="nonIDAM" />
    <!--<parameter name="server" value="SIT" />-->
    <test name="Suite 1" >
    <classes>
        <class name = "com.rjil.cloud.tej.SecurityAPI.test.LoginTest"/>
    </classes>
 </test>

</suite>